<div class="rectangle">
  <img src="assets/logo%20aleia.png" class="logo-aleia">
  <img src="assets/Burger%20Menu.png" class="menu">
  <div class="menu-desktop">
    <span class="about-us">About us</span>
    <span class="services">Services</span>
    <span class="careers">Careers</span>
    <span class="functions">Functions</span>
  </div>
  <div class="rectangle-contactus"><span class="contact-us">Contact us</span></div>
  <span class="fr">FR</span>

</div>
<div class="mask">

  <img src="assets/fond%201.png" class="data-image-png-15">
  <div class="mask-block">
    <label class="be-careful-to-respec">
      BE CAREFUL TO RESPECT THE DESIGN!
    </label>

    <label class="technologies-html">
      Technologies : HTML CSS JS
      Détail des specs front : Zeplin
      3 maquettes desktop, tablet et mobile, 2 breakpoints
      Desktop/ tablet : 1200px (Desktop) / 1199 tablet
      Tablet / Mobile : 600px (Tablet) / 599 (mobile)
    </label>

    <div class="div-lets-discover"><span class="lets-discover">Let’s discover</span></div>
  </div>
</div>
<div class="good-rectangle row">
  <div class="col-lg-6 col-md-12 col-sm-12 good-luck-about-this">
    <label>Good luck about this block. Don’t forget to respect the different breakpoints</label>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 lorem-ipsum-dolor-si">
    <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. </label>
    <div class="rectangle-hang"><span class="hang-in-there">hang in there</span></div>

  </div>
</div>

<div class="dont-forget-block">
  <img src="assets/trait.png">
  <label class="dont-forget-about-t">
    Don’t forget about the spacing! It’s very important
  </label>
</div>

<div class="row lorem-block">
  <div class="col-lg-4 col-sm-12 col-md-12 text-center">
    <img src="assets/icon%201.png">
    <label class="lorem-ipsum">Lorem ipsum</label>
    <label class="lorem-ipsum-dolor-si">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </label>
  </div>
  <div class="col-lg-4 col-sm-12 col-md-12 text-center">
    <img src="assets/icon%202.png" height="87">
    <label class="lorem-ipsum">Lorem ipsum</label>
    <label class="lorem-ipsum-dolor-si">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </label>
  </div>
  <div class="col-lg-4 col-sm-12 col-md-12 text-center">
    <img src="assets/icon%203.png">
    <label class="lorem-ipsum">Lorem ipsum</label>
    <label class="lorem-ipsum-dolor-si">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </label>
  </div>
</div>

<div>
  <div class="rectangle-almost"><span class="its-almost-done-do">It’s almost done, don’t give up</span></div>
</div>

<div class="rectangle-footer">
  <div class="row top-footer">
    <div class="col-lg-4 text-center logo-top-footer">
      <img src="assets/logo%20aleia.png" class="logo-aleia-top-footer">
    </div>
    <div class="col-lg-4 text-center">
      <label class="send-us-your-email-t">Send us your email to stay tuned</label>
      <div class="email-box">
        <input type="email" placeholder="yourmail@email.com">
        <button>xoxo</button>
      </div>
    </div>
    <div class="col-lg-4 text-center follow-as">
      <label class="send-us-your-email-t">Follow us</label>
      <div class="d-flex justify-content-center">
        <img src="assets/facebook.png" width="60" height="60">
        <img src="assets/linked%20in.png" width="60" height="60">
        <img src="assets/twitter.png" width="60" height="60">
      </div>
    </div>
  </div>
  <div class="row bottom-footer">
    <img src="assets/logo%20aleia.png" class="logo-aleia-footer">

    <label class="all-rights-r">
      © 2020. All rights reserved.
    </label>
  </div>
</div>
